body {
  background: url('src/background.svg') no-repeat center center fixed;
  background-size: cover;
}

.cards-container {
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
  padding: 0rem;
  border-radius: 25px;
  scrollbar-width: none; /* Firefox */
}
.cards-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.card {
  min-width: 300px;
  max-width: 300px;
  padding: 1rem;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none !important; /* Evita la selección de texto */
  cursor: pointer !important; /* Cambia el cursor a puntero */
  
}
.card:hover {
  transform: scale(1.07);
}
.icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}




.newsletter {
  background: black;
  color: white;
  padding: 1.5rem;
  border-radius: 20px;
  max-width: 900px;
  margin: 2rem auto 0 auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px; /* Ajustado para la altura requerida */
}

.newsletter-icons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.newsletter-icons span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}
.red {
  background-color: #FF62EF;
}
.green {
  background-color: #57E8AB;
}
.yellow {
  background-color: #FFF170;
}


/* Estilo personalizado para la barra de desplazamiento */
#chatContent::-webkit-scrollbar {
  width: 8px;
}

#chatContent::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#chatContent::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

#chatContent::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}









